body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body.home {
  background-image: url('img/carburn.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1a1a1a;
}

body.blackbird {
  background-color: #c5c6ad;
}

body.chickadee {
  background-color: #57441e;
}

body.gull {
  background-color: #8e8981;
}

body.mallard {
  background-color: #B04d3e;
}

body.owl {
  background-color: #d5dcdd;
}

body.wren {
  background-color: #c8c594;
}

.clouds {
  padding: 0px 0px 0px 0px;
  background-image: url('img/clouds.png');
  background-repeat: repeat-x;
  background-size: 1914px 80px;
}

nav {
  margin: auto;
  text-align: center;
}

.tab {
  width: 5em;
  height: 30px;
  padding: 0.5em;
  display:inline-block;
  color: #3a3a3a;
  margin: 1px;
  border: 1px solid #b8d2ec;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
  text-align:center;
  background: #dce9f9;
}

a .tab:hover {
  background: #adcae8;
  color: white;
}

.tab-text {
  font-weight: bold;
  vertical-align: middle;
  display:inline-block;
  -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.tab-selected {
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #a8a8a8;
}

.birdbutton {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
}

.birdbutton:hover {
  border-color: #fcfcfc;
  background: #fcfcfc;
}

#birdbuttons {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: "Merienda One", sans-serif;
  font-size: 3em;
  color: #fcfcfc;
  text-align: center;
  text-shadow: 1px 1px 2px #1a1a1a;
}

.content {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.birdimg {
  display: block;
  width: 100%;
}

map {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}

.fact {
  display: flex;
  align-items: center;
  background: white;
}

table.fact {
  border-collapse: collapse;
}

.note {
  padding: 6px 10px;
  background: #878f67;
  color: #fcfcfc;
  border-top: 1px solid #c5c6ad;
}

blockquote {
  color: #252a25;
  border-left: 4px solid #878f67;
  font-style: italic;
  margin: 30px 0 30px 15px;
  padding-left: 15px;
}

td, th {
  text-align: left;
  padding: 6px;
  border: 1px solid #c5c6ad;
}

table.blackbird {
  color: #252a25;
}

table.blackbird tr:nth-child(odd) {
  background-color: #59962d;
}

table.blackbird tr:nth-child(even) {
  background-color: #90a52f;
}
