/*
Blackbird
*/
:root.blackbird {
  --table-even: #90A52F;
  --table-odd: #59962D;
  --background: #C5C6AD;
  --dark-text: #252A25;
  --light-text: #fcfcfc;
  --note: #878F67;
}

/*
Chickadee
*/
:root.chickadee {
  --table-even: #000000;
  --table-odd: #000000;
  --background: #57441e;
  --dark-text: #000000;
  --light-text: #000000;
  --note: #000000;
}

/*
Gull
*/
:root.gull {
  --table-even: #000000;
  --table-odd: #000000;
  --background: #8e8981;
  --dark-text: #000000;
  --light-text: #000000;
  --note: #000000;
}

/*
Mallard
*/
:root.mallard {
  --table-even: #000000;
  --table-odd: #000000;
  --background: #B04d3e;
  --dark-text: #000000;
  --light-text: #000000;
  --note: #000000;
}

/*
Owl
*/
:root.owl {
  --table-even: #000000;
  --table-odd: #000000;
  --background: #d5dcdd;
  --dark-text: #000000;
  --light-text: #000000;
  --note: #000000;
}

/*
Wren
*/
:root.wren {
  --table-even: #000000;
  --table-odd: #000000;
  --background: #c8c594;
  --dark-text: #000000;
  --light-text: #000000;
  --note: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
}

body.home {
  background-image: url('img/carburn.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1a1a1a;
}

.clouds {
  padding: 0px 0px 0px 0px;
  background-image: url('img/clouds.png');
  background-repeat: repeat-x;
  background-size: 1914px 80px;
}

nav {
  margin: auto;
  text-align: center;
}

.tab {
  width: 5em;
  height: 30px;
  padding: 0.5em;
  display:inline-block;
  color: #3a3a3a;
  margin: 1px;
  border: 1px solid #b8d2ec;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
  text-align:center;
  background: #dce9f9;
}

a .tab:hover {
  background: #adcae8;
  color: white;
}

.tab-text {
  font-weight: bold;
  vertical-align: middle;
  display:inline-block;
  -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.tab-selected {
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #a8a8a8;
}

.birdbutton {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
}

.birdbutton:hover {
  border-color: #fcfcfc;
  background: #fcfcfc;
}

#birdbuttons {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: "Merienda One", sans-serif;
  font-size: 3em;
  color: #fcfcfc;
  text-align: center;
  text-shadow: 1px 1px 2px #1a1a1a;
}

.content {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.birdimg {
  display: block;
  width: 100%;
}

map {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}

.fact {
  display: flex;
  align-items: center;
  background: white;
}

table.fact {
  border-collapse: collapse;
  color: var(--dark-text);
}

table tr:nth-child(odd) {
  background-color: var(--table-odd);
}

table tr:nth-child(even) {
  background-color: var(--table-even);
}

.note {
  padding: 6px 10px;
  background: var(--note);
  color: var(--light-text);
  border-top: 1px solid var(--background);
}

blockquote {
  font-style: italic;
  margin: 30px 0 30px 15px;
  padding-left: 15px;
  color: var(--dark-text);
  border-left: 4px solid var(--note);
}

td, th {
  text-align: left;
  padding: 6px;
  border: 1px solid var(--background);
}
