/*
global constants
*/
:root {
    --dark-row: #263238;
    --light-row: #2a373d;
    --input-background: #455A64;
    --input-text: #ECEFF1;
    --baby-blue: #82E0FF;
}

/* ######################### */
/* 
.x {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    background: var(--dark-row);
}

.output {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
  
.sidebar {
    display: flex;
    flex-direction: column; 
    flex: 1 0 10em; 
    background-color: hsl(4,99%,66%);
}
  
.chat {
    display: flex;
    flex-direction: column;
    flex: 10 0 10em;  
    background-color: hsl(233,21%,56%);
}
  
  /*----- Main------- */
  
.messages.header {
    flex:1;
    background-color: green;
    max-height:50px;
}
  
  
.messages.content {
    flex:1;
    background-color: purple;
}
  

  
.input {
    flex:1;
    max-height:70px;
    background-color: #009688;
}
  
  /*----- Sidebar------- */
  
.users.header {
    flex:1;
    max-height:50px;
    background-color: yellow;
}
  
.users.content {
    flex:1;
    background-color: pink;
}
  
/* ######################### */



/* 





form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    color: var(--input-text);
    background: var(--input-background);
}

form button {
    width: 9%;
    background: var(--baby-blue);
    border: none;
    padding: 10px;
}

form button:hover {
    background: #FFCC80;
}

form button:active {
    background: #FFB74D;
}

#messages, #users {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--input-text);
}

#messages li, #users li {
    padding: 5px 10px;
    width: 100%;
    display: inline-block;
}

#messages li:nth-child(odd), #users li {
    background: var(--dark-row);
}

#messages li:nth-child(even) {
    background: var(--light-row);
}

#main {
    display: flex;
}

#messages-area {
    width: 75%;
    float: left;
}

#users-area {
    width: 25%;
    float: right;
}

#valign-messages {
    position: relative;
    height: 100%;
}

.header {
    display: inline-block;
    background: var(--input-background);
    color: var(--input-text);
    text-align: left;
    padding: 10px;
    width: 100%;
}

.content {
    display: block;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
} */




/* source: https://codepen.io/devstreak/pen/dMYgeO */

 .scroll::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: var(--light-row);
 }
 
 .scroll::-webkit-scrollbar
 {
     width: 12px;
     background-color: var(--light-row);
 }
 
 .scroll::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: var(--baby-blue);
 }