/*
global constants
*/
:root {
    --dark-row: #263238;
    --light-row: #2a373d;
    --input-background: #455A64;
    --input-text: #ECEFF1;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; background: var(--dark-row); }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; color: var(--input-text); background: var(--input-background); }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
form button:hover { background: #FFCC80; }
form button:active { background: #FFB74D; }
#messages { list-style-type: none; margin: 0; padding: 0; color: var(--input-text); }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: var(--dark-row); }
#messages li:nth-child(even) { background: var(--light-row); }